.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--violet);
}

.banner img {
    
}

.banner img:first-child {
    position: absolute;
}

.banner img:last-child {
    margin-left: auto;
}

.description {
    color: white;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 2rem;
}

.description  p {
    margin: 0;
}

.footer {
    margin-top: auto;
}